<form ngForm #assignmentForm class="form" (submit)="onSubmit(); assignmentForm.reset();">
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" [(ngModel)]="email" name="email">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" [type]="'password'" [(ngModel)]="password" name="password">
    </mat-form-field>
    <button mat-stroked-button color="primary">
      Login
    </button>
</form>